<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ggpp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description>仅供测试各种方法，各种代码！</description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterFilter</display-name>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>xjtu.gp.servlet.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/CharacterFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetStationServlet</display-name>
    <servlet-name>GetStationServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.GetStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStationServlet</servlet-name>
    <url-pattern>/GetStationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetWantedHouseServlet</display-name>
    <servlet-name>GetWantedHouseServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.GetWantedHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWantedHouseServlet</servlet-name>
    <url-pattern>/GetWantedHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClosestToMeServlet</display-name>
    <servlet-name>ClosestToMeServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.ClosestToMeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClosestToMeServlet</servlet-name>
    <url-pattern>/ClosestToMeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>sort</description>
    <display-name>LeastMoneyServlet</display-name>
    <servlet-name>LeastMoneyServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.LeastMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeastMoneyServlet</servlet-name>
    <url-pattern>/LeastMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>sort by area</description>
    <display-name>MaxAreaServlet</display-name>
    <servlet-name>MaxAreaServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.MaxAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaxAreaServlet</servlet-name>
    <url-pattern>/MaxAreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>used in mapOnline.jsp</description>
    <display-name>ShortListServlet</display-name>
    <servlet-name>ShortListServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.ShortList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShortListServlet</servlet-name>
    <url-pattern>/ShortListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaxMoneyServlet</display-name>
    <servlet-name>MaxMoneyServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.MaxMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaxMoneyServlet</servlet-name>
    <url-pattern>/MaxMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentPriceServlet</display-name>
    <servlet-name>RentPriceServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.RentPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentPriceServlet</servlet-name>
    <url-pattern>/RentPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultAccessToPropertyListServlet</display-name>
    <servlet-name>DefaultAccessToPropertyListServlet</servlet-name>
    <servlet-class>xjtu.gp.servlet.DefaultAccessToPropertyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultAccessToPropertyListServlet</servlet-name>
    <url-pattern>/DefaultAccessToPropertyListServlet</url-pattern>
  </servlet-mapping>
</web-app>